<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

	<targets>
		<!-- 错误日志：每天一个文件，异步写入，大小归档 -->
		<target xsi:type="File"
				name="errorFile"
				fileName="${basedir}/logs/error/error-${shortdate}.log"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}"
				archiveAboveSize="10485760"
				maxArchiveFiles="30"
				archiveFileName="${basedir}/logs/error/error-${shortdate}.{#}.log"
				concurrentWrites="true"
				keepFileOpen="false"
				async="true" />

		<!-- 信息日志：每天一个文件，异步写入 -->
		<target xsi:type="File"
				name="infoFile"
				fileName="${basedir}/logs/info/info-${shortdate}.log"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}"
				archiveAboveSize="10485760"
				maxArchiveFiles="30"
				archiveFileName="${basedir}/logs/info/info-${shortdate}.{#}.log"
				concurrentWrites="true"
				keepFileOpen="false"
				async="true" />

		<!-- 调试日志：每天一个文件，异步写入 -->
		<target xsi:type="File"
				name="debugFile"
				fileName="${basedir}/logs/debug/debug-${shortdate}.log"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}"
				archiveAboveSize="10485760"
				maxArchiveFiles="30"
				archiveFileName="${basedir}/logs/debug/debug-${shortdate}.{#}.log"
				concurrentWrites="true"
				keepFileOpen="false"
				async="true" />

		<!-- 跟踪日志：每天一个文件，异步写入 -->
		<target xsi:type="File"
				name="traceFile"
				fileName="${basedir}/logs/trace/trace-${shortdate}.log"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}"
				archiveAboveSize="10485760"
				maxArchiveFiles="30"
				archiveFileName="${basedir}/logs/trace/trace-${shortdate}.{#}.log"
				concurrentWrites="true"
				keepFileOpen="false"
				async="true" />
	</targets>

	<rules>
		<!-- 按级别分别写入对应文件，不重复 -->
		<logger name="*" level="Trace" writeTo="traceFile" />
		<logger name="*" level="Debug" writeTo="debugFile" />
		<logger name="*" level="Info" writeTo="infoFile" />
		<logger name="*" level="Warn" writeTo="infoFile" />
		<logger name="*" level="Error" writeTo="errorFile" />
		<logger name="*" level="Fatal" writeTo="errorFile" />
	</rules>
</nlog>